header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 40px 56px;

    font-family: 'Proxima Nova';
}

.logo {
    gap: 10px;
    display: flex;
    align-items: center;

    font-family: "Futura Round Demi", "Futura PT", sans-serif;
}

nav {
    gap: 40px;
    display: flex;

    font-weight: 500;
}

.request-a {
    font-weight: 700;
    color: #71A894;
}

a {
    text-decoration: none;
    color: black;
}