@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/proxima-nova/proximanova_bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/proxima-nova/ProximaNova-Medium.otf);
    font-weight: 500;
}